body {
    background-image:url("../resources/Barca\ 2010-11.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    color: red;
    font-size: 30px;
    border: 2px solid blue;
    width: 120px;
    height: 100px;
    
    }
    a{
        color: red;
    }

    .Volver{
        color: rgb(237, 187, 0);
        font-size: 25px;
        border: 3px solid blue;
        border-radius: 13px;
        height: 40px;
        width: 200px;
        margin-top: 13px;
        display: flex;
        background-color: rgba(255, 0, 0, 0.301);
     }