body {
    background-image:url("../resources/Barca\ 2019-20.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}

div{
color: blue;
font-size: 30px;
width: 150px;
height: 30px;

}
a{
    color: white;
}